button {
    color: #090909;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background: #e8e8e8;
    border: none;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    cursor: pointer;
}

button:not(:last-child) {
    margin-right: 10px;
}

button:hover {
    background: blue;
    color: #ffffff;
}

.container {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: inset -1px 3px 8px 5px #d4dee9, 2px 5px 10px 0px #2e3c4e, 5px 5px 5px 5px rgba(194, 188, 188, 0);
    border-radius: 4px;
}